@keyframes jump {
    0% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(-16px);
    }
}

@keyframes like-sparks {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes like-heart {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.core {
    color: var(--accent-color);
    opacity: 0;
    transition: opacity 0.6s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.main-body {
    color: var(--accent-color);
    opacity: 0;
    transition: opacity 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.sparks {
    opacity: 0;
}

.card__icon-button:hover .core {
    transition: opacity 0.3s;
    transition-delay: 0.03s;
    opacity: 1;
}

.card__icon-button:active .core {
    color: var(--active-heart);
    transition: color 0.3s;
    transition-delay: 0.03s;
    opacity: 1;
}

.card__icon-button:hover .main-body {
    transition: opacity 0.3s;
    transition-delay: 0.05s;
    opacity: 1;
}

.card__icon-button:active .main-body {
    color: var(--active-heart);
    transition: color 0.3s;
    transition-delay: 0.05s;
    opacity: 1;
}

.like-icon.is-liked .main-body {
    color: var(--active-heart);
    transition: color 0.3s;
    transition-delay: 0.05s;
    opacity: 1;
}

.like-icon.is-liked .core {
    color: var(--active-heart);
    transition: color 0.3s;
    transition-delay: 0.03s;
    opacity: 1;
}

.like-icon.is-liked .contour {
    fill: var(--active-heart);
    transition: fill 0.3s;
    transition-delay: 0.06s;
}

.like-icon.is-liked .sparks {
    fill: var(--active-heart);
    animation: like-sparks 0.3s 0.3s ease-in;
}

.like-icon.is-liked .heart {
    transform-origin: center;
    animation: like-heart 0.3s 0.1s ease-in alternate;
}

.button-animation {
    position: relative;
    color: var(--accent-color);
    background: var(--bg-color);
}

.button-animation:hover {
    transition: color 1s ease;
    cursor: pointer;
}

.content__footer-button {
    position: relative;
}

.button-animation::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--opposite-color);
    mix-blend-mode: difference;
    transition: transform 0.5s ease-in-out;
    transform-origin: left center;
    transform: scaleX(0);
}

.button-animation:hover::after {
    transform: scaleX(1);
}

.card__like-button:focus {
    outline: none;
    box-shadow: 2px 2px 0 0 var(--accent-color);
}

.content__footer-button:focus {
    outline: none;
    box-shadow: 2px 2px 0 0 var(--accent-color);
}

.dialog__button:focus {
    outline: none;
    box-shadow: 2px 2px 0 0 var(--accent-color);
}
